@model IEnumerable<TesteLeonardo.Dominio.Produto>

@{
    ViewBag.Title = "Home Page";
}
<script>
    function buscarProdutosAjax() {

        $.get('/api/produtos', {
            token: $('#guid').html(),
            expiraEm: $('#expiraEm').html()
        }, function (response) {

            $('.produtos').remove();

            if (angular.element('#tokenGerado').scope().tokenGerado == false) {
                alert('É necessário gerar um token!');
                return;
            }

            console.log('response == null');
            console.log(response == null);

            if (response == null) {
                $('#tokenExpirado').removeClass();
                $('#tokenExpirado').show("slow");

                return;
            }

            for (var i = 0; i < response.length; i++) {
                var nome = response[i].nome;
                var descricao = response[i].descricao;
                var preco = response[i].preco;
                
                $('.table tr:last').after('<tr class="produtos"><td>' + nome + '</td><td>' + descricao + '</td><td>' + formataReal(preco) + '</td></tr>');
            }
        })
    }

    function formataReal(n) {
        return "R$ " + n.toFixed(2).replace('.', ',').replace(/(\d)(?=(\d{3})+\,)/g, "$1.");
    }

</script>
<div ng-controller="HomeController" style="border:1px solid gray; border-radius: 8px;padding:24px">
    
    <input type="hidden" id="tokenGerado" value="{{tokenGerado}}" >
    
    <button id="gerarToken" style="border-radius: 8px;height:50px;width:140px;" ng-click="gerarToken()">Gerar Token</button>

    <p style="margin-top:24px;">
        Token: <span id="guid">{{guid}}</span>
        <br />
        Token expira em: <span id="expiraEm">{{expiraEm}}</span>
    </p>

    <div ng-show="tokenExpirado" id="tokenExpirado">
        <span style="font-size:24px;color:tomato;">Token expirado!</span>
    </div>

    <hr />

    <button id="gerarToken" style="border-radius: 8px;height:50px;width:140px;" ng-click="buscarProdutosMVC()">Buscar Produtos MVC</button>
    <button id="gerarToken" style="border-radius: 8px;height:50px;width:140px;" onclick="buscarProdutosAjax()">Buscar Produtos Ajax</button>

    <table class="table" style="margin-top: 40px;">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nome)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Descricao)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Preco)
            </th>
        </tr>

        <tr ng-repeat="produtoMVC in produtosMVC" class="produtos">
            <td>{{ produtoMVC.nome }}</td>
            <td>{{ produtoMVC.descricao }}</td>
            <td>{{ produtoMVC.preco }}</td>
        </tr>
    </table>
</div>